#container {
  padding-top: 80px;
  position: relative;
  text-align: center;
  }
  #container2 {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    text-align: center;
  }
  .img-pretty {
    max-width: 50%;
    height: auto;
    justify-self: center;
  }
  .thin-border {
    border-color: black;
    border-width: .5vw;
    border-style: solid;
  }
  h1 {
      text-decoration: line-through;
      text-decoration-color: white;
      font-family: 'Josefin Slab', serif;
      font-size: 3vw;
      position: absolute;
      left: 70%;
      transform: translate(-70%, 0%);
  }
  h2 {
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
    font-size: 2.5vw;
  }
  a {
      color:black;
      text-decoration: none;
      position: absolute;
      left: 20%;
      bottom: 5%;
      transform: translate(-20%, 0%);
  }
  @media (max-width: 450px) {
    .img-pretty {
      max-width: 90%;
      margin-top: 60px;
    }
    h1 {
      font-size: 150%;
      position: relative;
      text-align: end;
    }
    h2 {
      font-size: 100%;
    }
    a {
      position: relative;
      text-align: left;
    }
  }
  @media screen and (max-width: 1100px) and (min-width: 650px) {
    a {
      position: relative;
      text-align: left;
    }
    h1 {
      position: relative;
      text-align: end;
      margin-right: 45%;
      font-size: 200%;
    }
    h2 {
      font-size: 150%;
    }
    .img-pretty {
      max-width: 60%;
    }
  }